{% extends "base.html" %}
{% load static %}
{% block title %}Graduation Work{% endblock %}
{% block content %}
<main role="main">

  <div class="container">

    <h1>{{ section.name }}</h1>

      {% if is_empty %}
        <div class="alert alert-dark" role="alert">
          Тут пока ничего нет!
        </div>
      {% else %}
        {% if not request.user.is_authenticated %}
          Чтобы оставить или просмотреть отзывы о товаре нужно авторизоваться!<br><br>
        {% endif %}
          {% if product_list %}
            <div class="row">
            {% for product in product_list %}
              <div class="col-md-4">
                <h2>{{ product.name }}</h2>
                <img src="{% get_media_prefix %}{{ product.image }}" width="180">
                {% if request.user.is_authenticated %}
                  <a href="{{ product.slug }}/">
                    <input type="submit" class="btn btn-secondary" value="Информация и отзывы »">
                  </a>
                  <br><br>
                {% endif %}
                <form action="/add_to_cart/{{ product.id }}">
                  <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
              </div>
            {% endfor %}
            </div>
            <hr>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item {% if not prev_page_url %} disabled {% endif %} ">
                  <a class="page-link" href="{{ prev_page_url }}">⟵</a>
                </li>
                {% for page in pages %} <!-- пагинатор -->
                  <li class="page-item {% if page.number == current_page %} disabled {% endif %}">
                    <a class="page-link" href="{{ page.link }}">{{ page.number }}</a>
                  </li>
                {% endfor %}
                <li class="page-item {% if not next_page_url %} disabled {% endif %}">
                  <a class="page-link" href="{{ next_page_url }}">⟶</a>
                </li>
              </ul>
            </nav>
          {% else %}
            <div class="alert alert-dark" role="alert">
              Раздел не найден!
            </div>
          {% endif %}

      {% endif %}

  </div>
</main>
{% endblock %}